<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="2">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <metadata key="flush_into_infill" value="1"/>
    <metadata key="flush_into_objects" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="11">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="2"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="3">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="4">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="5">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="6">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="7">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="8">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="9">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="10">
    <metadata key="name" value="Brown [E1].stl"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Brown [E1].stl"/>
      <metadata key="matrix" value="1 0 0 -1.9073486271874999e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.620889663696289"/>
      <metadata key="source_offset_y" value="-57.894481658935547"/>
      <metadata key="source_offset_z" value="5.7418327331542969"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="2"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="169"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="3"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="179"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="4"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="199"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="5"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="219"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="6"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="239"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="7"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="259"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="8"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="279"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="9"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="299"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="10"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="319"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="11"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="339"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="2" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="11" instance_id="0" transform="1 0 0 0 1 0 0 0 1 185.91978454589844 154.93313598632812 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="3" instance_id="0" transform="1 0 0 0 1 0 0 0 1 123.94651794433594 154.93313598632812 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="4" instance_id="0" transform="1 0 0 0 1 0 0 0 1 123.94651794433594 185.91976928710938 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="5" instance_id="0" transform="1 0 0 0 1 0 0 0 1 154.93315124511719 185.91976928710938 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="6" instance_id="0" transform="1 0 0 0 1 0 0 0 1 154.93315124511719 216.90640258789062 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="7" instance_id="0" transform="1 0 0 0 1 0 0 0 1 154.93315124511719 247.89303588867188 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="8" instance_id="0" transform="1 0 0 0 1 0 0 0 1 185.91978454589844 247.89303588867188 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="9" instance_id="0" transform="1 0 0 0 1 0 0 0 1 185.91978454589844 216.90640258789062 17.741832733154297" offset="0 0 0" />
   <assemble_item object_id="10" instance_id="0" transform="1 0 0 0 1 0 0 0 1 185.91978454589844 185.91976928710938 17.741832733154297" offset="0 0 0" />
  </assemble>
</config>
