<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="01.07.06.92"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="4384"/>
    <metadata key="weight" value="63.02"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="true"/>
    <object identify_id="91" name="Brown [E1].stl" skipped="false" />
    <object identify_id="114" name="Brown [E1].stl" skipped="false" />
    <filament id="1" type="PLA" color="#84620D" used_m="20.79" used_g="63.02" />
  </plate>
</config>
