<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="12">
    <metadata key="name" value="Yellow [E1]"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Yellow [E1].stl"/>
      <metadata key="matrix" value="1 0 0 2.288818359375e-05 0 1 0 -13.48114013671875 0 0 1 12.282588806003332 0 0 0 1"/>
      <metadata key="source_file" value="Yellow [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0.020000457763671875"/>
      <metadata key="source_offset_y" value="129.50556391477585"/>
      <metadata key="source_offset_z" value="41.632589340209961"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="White [E1].stl"/>
      <metadata key="matrix" value="1 0 0 0.65828132629394531 0 1 0 -7.209014892578125 0 0 1 3.7749999426305294 0 0 0 1"/>
      <metadata key="source_file" value="White [E1].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0.67825889587402344"/>
      <metadata key="source_offset_y" value="135.77768915891647"/>
      <metadata key="source_offset_z" value="33.125000476837158"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="White [E1] SS.stl"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0.78431695699691772 0 0 1 0.39565673843026161 0 0 0 1"/>
      <metadata key="source_file" value="White [E1] SS.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0.019977569580078125"/>
      <metadata key="source_offset_y" value="143.77102100849152"/>
      <metadata key="source_offset_z" value="29.74565727263689"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="Red [E3].stl"/>
      <metadata key="matrix" value="1 0 0 -0.019977569580078125 0 1 0 3.2597640156745911 0 0 1 -21.375000152736902 0 0 0 1"/>
      <metadata key="source_file" value="Red [E3].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="146.24646806716919"/>
      <metadata key="source_offset_z" value="7.9750003814697266"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="Orange [E3].stl"/>
      <metadata key="matrix" value="1 0 0 -0.019977569580078125 0 1 0 7.5324018597602844 0 0 1 -13.013911876827478 0 0 0 1"/>
      <metadata key="source_file" value="Orange [E3].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="150.51910591125488"/>
      <metadata key="source_offset_z" value="16.33608865737915"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="Light Blue Pool [E2].stl"/>
      <metadata key="matrix" value="1 0 0 -0.90667843818664551 0 1 0 -43.743524730205536 0 0 1 7.0749987028539181 0 0 0 1"/>
      <metadata key="source_file" value="Light Blue Pool [E2].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-0.88670086860656738"/>
      <metadata key="source_offset_y" value="99.243179321289062"/>
      <metadata key="source_offset_z" value="36.424999237060547"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="Light Blue [E2].stl"/>
      <metadata key="matrix" value="1 0 0 0.68924331665039062 0 1 0 -6.8923059105873108 0 0 1 -2.8000008203089237 0 0 0 1"/>
      <metadata key="source_file" value="Light Blue [E2].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0.70922088623046875"/>
      <metadata key="source_offset_y" value="136.09439814090729"/>
      <metadata key="source_offset_z" value="26.549999713897705"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="Green [E4].stl"/>
      <metadata key="matrix" value="1 0 0 2.193450927734375e-05 0 1 0 10.453067600727081 0 0 1 4.050000037997961 0 0 0 1"/>
      <metadata key="source_file" value="Green [E4].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0.019999504089355469"/>
      <metadata key="source_offset_y" value="153.43977165222168"/>
      <metadata key="source_offset_z" value="33.40000057220459"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="Glass Silver [E4].stl"/>
      <metadata key="matrix" value="1 0 0 2.288818359375e-05 0 1 0 -14.53958135843277 0 0 1 5.4419015310704708 0 0 0 1"/>
      <metadata key="source_file" value="Glass Silver [E4].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0.020000457763671875"/>
      <metadata key="source_offset_y" value="128.44712269306183"/>
      <metadata key="source_offset_z" value="34.7919020652771"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="10" subtype="normal_part">
      <metadata key="name" value="Brown [E1] White.stl"/>
      <metadata key="matrix" value="1 0 0 -0.34964942932128906 0 1 0 -22.449905335903168 0 0 1 -1.0500008203089237 0 0 0 1"/>
      <metadata key="source_file" value="Brown [E1] White.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-0.32967185974121094"/>
      <metadata key="source_offset_y" value="120.53679871559143"/>
      <metadata key="source_offset_z" value="28.299999713897705"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="11" subtype="normal_part">
      <metadata key="name" value="Blue [E2].stl"/>
      <metadata key="matrix" value="1 0 0 -0.019977569580078125 0 1 0 1.8470472693443298 0 0 1 -1.1953608132898808 0 0 0 1"/>
      <metadata key="source_file" value="Blue [E2].stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="144.83375132083893"/>
      <metadata key="source_offset_z" value="28.154639720916748"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="12"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="447"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="12" instance_id="0" transform="0.45000000000000001 0 0 0 0.45000000000000001 0 0 0 0.45000000000000001 0 0 30.350000534206629" offset="0 0 0" />
  </assemble>
</config>
