<?xml version='1.0' encoding='UTF-8'?>
<config>
 <object id="5">
  <metadata key="name" value="Brown [E1]" />
  <metadata key="extruder" value="1" />
  <part id="1" subtype="normal_part">
   <metadata key="name" value="Brown [E1].stl" />
   <metadata key="matrix" value="1 0 0 0.41668510409252923 0 1 0 0 0 0 1 -25.736008641026004 0 0 0 1" />
   <metadata key="source_file" value="Brown [E1].stl" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="1.195624828338623" />
   <metadata key="source_offset_y" value="3.3884296417236328" />
   <metadata key="source_offset_z" value="1" />
   <metadata key="extruder" value="1" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
  <part id="2" subtype="normal_part">
   <metadata key="name" value="Red [E3].stl" />
   <metadata key="matrix" value="1 0 0 1.805393695957825 0 1 0 -30.129834882196043 0 0 1 26.614360323912962 0 0 0 1" />
   <metadata key="source_file" value="Red [E3].stl" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="1.5428019762039185" />
   <metadata key="source_offset_y" value="-4.144028902053833" />
   <metadata key="source_offset_z" value="14.087592601776123" />
   <metadata key="extruder" value="3" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
  <part id="3" subtype="normal_part">
   <metadata key="name" value="White [E2].stl" />
   <metadata key="matrix" value="1 0 0 2.0307655323618166 0 1 0 -6.8019847967468259 0 0 1 8.0728325953045665 0 0 0 1" />
   <metadata key="source_file" value="White [E2].stl" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="1.5991449356079102" />
   <metadata key="source_offset_y" value="1.6879334449768066" />
   <metadata key="source_offset_z" value="9.4522099494934082" />
   <metadata key="extruder" value="2" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
  <part id="4" subtype="normal_part">
   <metadata key="name" value="Green [E10].stl" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 -5.5503625967437742 0 0 1 50.198297913571167 0 0 0 1" />
   <metadata key="source_file" value="Green [E10].stl" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="1.0914535522460938" />
   <metadata key="source_offset_y" value="2.0008389949798584" />
   <metadata key="source_offset_z" value="19.98357629776001" />
   <metadata key="extruder" value="10" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="12">
  <metadata key="name" value="Cube" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="11" subtype="normal_part">
   <metadata key="name" value="Cube" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Cubes 100 to 200.3mf [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="18" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="0" />
   <metadata key="source_offset_y" value="0" />
   <metadata key="source_offset_z" value="0" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="7">
  <metadata key="name" value="Brown [E1].stl" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="6" subtype="normal_part">
   <metadata key="name" value="Brown [E1].stl" />
   <metadata key="matrix" value="1 0 0 -1.9073486159374997e-06 0 1 0 -1.9073486159374997e-06 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Brown  [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="52.618631362915039" />
   <metadata key="source_offset_y" value="-57.895124435424805" />
   <metadata key="source_offset_z" value="5.7480087280273438" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="8">
  <metadata key="name" value="Brown [E1].stl" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="6" subtype="normal_part">
   <metadata key="name" value="Brown [E1].stl" />
   <metadata key="matrix" value="1 0 0 -1.9073486159374997e-06 0 1 0 -1.9073486159374997e-06 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Brown  [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="52.618631362915039" />
   <metadata key="source_offset_y" value="-57.895124435424805" />
   <metadata key="source_offset_z" value="5.7480087280273438" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="9">
  <metadata key="name" value="Brown [E1].stl" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="6" subtype="normal_part">
   <metadata key="name" value="Brown [E1].stl" />
   <metadata key="matrix" value="1 0 0 -1.9073486159374997e-06 0 1 0 -1.9073486159374997e-06 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Brown  [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="52.618631362915039" />
   <metadata key="source_offset_y" value="-57.895124435424805" />
   <metadata key="source_offset_z" value="5.7480087280273438" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="10">
  <metadata key="name" value="Brown [E1].stl" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="6" subtype="normal_part">
   <metadata key="name" value="Brown [E1].stl" />
   <metadata key="matrix" value="1 0 0 -1.9073486159374997e-06 0 1 0 -1.9073486159374997e-06 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Brown  [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="52.618631362915039" />
   <metadata key="source_offset_y" value="-57.895124435424805" />
   <metadata key="source_offset_z" value="5.7480087280273438" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="13">
  <metadata key="name" value="Brown [E1].stl" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="6" subtype="normal_part">
   <metadata key="name" value="Brown [E1].stl" />
   <metadata key="matrix" value="1 0 0 -1.9073486159374997e-06 0 1 0 -1.9073486159374997e-06 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Brown  [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="52.618631362915039" />
   <metadata key="source_offset_y" value="-57.895124435424805" />
   <metadata key="source_offset_z" value="5.7480087280273438" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="14">
  <metadata key="name" value="Brown [E1].stl" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="6" subtype="normal_part">
   <metadata key="name" value="Brown [E1].stl" />
   <metadata key="matrix" value="1 0 0 -1.9073486159374997e-06 0 1 0 -1.9073486159374997e-06 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Brown  [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="0" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="52.618631362915039" />
   <metadata key="source_offset_y" value="-57.895124435424805" />
   <metadata key="source_offset_z" value="5.7480087280273438" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="15">
  <metadata key="name" value="Cube" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="11" subtype="normal_part">
   <metadata key="name" value="Cube" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Cubes 100 to 200.3mf [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="11" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="0" />
   <metadata key="source_offset_y" value="0" />
   <metadata key="source_offset_z" value="0" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="20">
  <metadata key="name" value="Cube" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="11" subtype="normal_part">
   <metadata key="name" value="Cube" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Cubes 100 to 200.3mf [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="10" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="0" />
   <metadata key="source_offset_y" value="0" />
   <metadata key="source_offset_z" value="0" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="17">
  <metadata key="name" value="Cube" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="16" subtype="normal_part">
   <metadata key="name" value="Cube" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Cubes 100 to 200.3mf [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="11" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="0" />
   <metadata key="source_offset_y" value="0" />
   <metadata key="source_offset_z" value="0" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="21">
  <metadata key="name" value="Cube" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="16" subtype="normal_part">
   <metadata key="name" value="Cube" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Cubes 100 to 200.3mf [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="10" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="0" />
   <metadata key="source_offset_y" value="0" />
   <metadata key="source_offset_z" value="0" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="19">
  <metadata key="name" value="Cube" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="18" subtype="normal_part">
   <metadata key="name" value="Cube" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Cubes 100 to 200.3mf [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="11" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="0" />
   <metadata key="source_offset_y" value="0" />
   <metadata key="source_offset_z" value="0" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <object id="22">
  <metadata key="name" value="Cube" />
  <metadata key="extruder" value="1" />
  <metadata key="wall_loops" value="2" />
  <metadata key="sparse_infill_pattern" value="grid" />
  <metadata key="top_shell_layers" value="3" />
  <metadata key="sparse_infill_density" value="15%" />
  <metadata key="bottom_shell_layers" value="3" />
  <part id="18" subtype="normal_part">
   <metadata key="name" value="Cube" />
   <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1" />
   <metadata key="source_file" value="Cubes 100 to 200.3mf [B3,I15,T3,Pgrid,W2]" />
   <metadata key="source_object_id" value="10" />
   <metadata key="source_volume_id" value="0" />
   <metadata key="source_offset_x" value="0" />
   <metadata key="source_offset_y" value="0" />
   <metadata key="source_offset_z" value="0" />
   <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0" />
  </part>
 </object>
 <plate>
  <metadata key="plater_id" value="1" />
  <metadata key="plater_name" value="" />
  <metadata key="locked" value="false" />
  <metadata key="thumbnail_file" value="Metadata/plate_1.png" />
  <metadata key="top_file" value="Metadata/top_1.png" />
  <metadata key="pick_file" value="Metadata/pick_1.png" />
  <model_instance>
   <metadata key="object_id" value="5" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="112" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="7" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="196" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="8" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="216" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="9" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="236" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="10" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="256" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="12" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="396" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="13" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="276" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="14" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="296" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="15" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="416" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="17" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="456" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="19" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="496" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="20" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="436" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="21" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="476" />
  </model_instance>
  <model_instance>
   <metadata key="object_id" value="22" />
   <metadata key="instance_id" value="0" />
   <metadata key="identify_id" value="516" />
  </model_instance>
 </plate>
 <assemble>
  <assemble_item object_id="5" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 19.434002161026001" offset="0 0 0" />
  <assemble_item object_id="12" instance_id="0" transform="1 0 0 0 1 0 0 0 1 106.40000152587891 53.200000762939453 12.800000190734863" offset="0 0 0" />
  <assemble_item object_id="7" instance_id="0" transform="1 0 0 0 1 0 0 0 1 30.991298675537106 154.96453857421875 17.748008728027344" offset="0 0 0" />
  <assemble_item object_id="8" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 92.978729248046875 17.748008728027344" offset="0 0 0" />
  <assemble_item object_id="9" instance_id="0" transform="1 0 0 0 1 0 0 0 1 61.982597351074219 92.978729248046875 17.748008728027344" offset="0 0 0" />
  <assemble_item object_id="10" instance_id="0" transform="1 0 0 0 1 0 0 0 1 154.95649719238281 30.992908477783203 17.748008728027344" offset="0 0 0" />
  <assemble_item object_id="13" instance_id="0" transform="1 0 0 0 1 0 0 0 1 -3.5527136788005009e-15 30.992908477783203 17.748008728027344" offset="0 0 0" />
  <assemble_item object_id="14" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 61.985816955566406 17.748008728027344" offset="0 0 0" />
  <assemble_item object_id="15" instance_id="0" transform="1 0 0 0 1 0 0 0 1 133 0 12.800000190734863" offset="0 0 0" />
  <assemble_item object_id="20" instance_id="0" transform="1 0 0 0 1 0 0 0 1 159.60000610351562 0 12.800000190734863" offset="0 0 0" />
  <assemble_item object_id="17" instance_id="0" transform="1 0 0 0 1 0 0 0 1 133 0 12.800000190734863" offset="0 0 0" />
  <assemble_item object_id="21" instance_id="0" transform="1 0 0 0 1 0 0 0 1 159.60000610351562 0 12.800000190734863" offset="0 0 0" />
  <assemble_item object_id="19" instance_id="0" transform="1 0 0 0 1 0 0 0 1 133 0 12.800000190734863" offset="0 0 0" />
  <assemble_item object_id="22" instance_id="0" transform="1 0 0 0 1 0 0 0 1 159.60000610351562 0 12.800000190734863" offset="0 0 0" />
 </assemble>
</config>